In [1]:
import pandas as pd

In [2]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/53/a4/66add528eca00398af98f181772006750019eb9f2d68c7c6fdd53ba661c5/tabula_py-2.1.0-py3-none-any.whl (10.4MB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\quadr\anaconda3\lib\site-packages (from tabula-py) (0.25.3)
Requirement already satisfied: numpy in c:\users\quadr\anaconda3\lib\site-packages (from tabula-py) (1.18.0)
Collecting distro (from tabula-py)
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\quadr\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.7.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\quadr\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2018.7)
Requirement already satisfied: six>=1.5 in c:\users\quadr\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.0

In [3]:
import tabula

In [19]:
file = "http://www.rio.rj.gov.br/dlstatic/10112/10829526/4267222/DENGUE_SE_2020.pdf"
 
tables = tabula.read_pdf(file, pages = "1", multiple_tables = False)

In [23]:
tables[0]

,"Área Programática, Regiões",População,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,Administrativas e Bairros,Censo 2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,44.0,45.0,46.0,47.0,48.0,49.0,50.0,51.0,52.0,53.0