# ===============================


# Importando as bibliotecas básicas


# ===============================

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ==============================


# Lendo as bases de dados


# ==============================

### Primeiro a base de casos de dengue

In [45]:
#Casos de Dengue

df = pd.DataFrame()
for i in [2013,2014,2015,2016,2017,2018,2019]:
    print(i)
    db = pd.read_csv(r'E:\Users\quadr\Documents\MBA\Trabalhos\TCC\Dengue Rio\Casos Dengue RJ DBC\denguerj'+str(i)+'.csv',engine='python')
    print(db.count()[0])
    frames =[df,db]
    df = pd.concat(frames,sort=False)
    print(df.count()[0])

2013
254909
254909
2014
15901
270810
2015
93522
364332
2016
115112
479444
2017
16962
496406
2018
25090
521496
2019
50754
572250

### Filtrando apenas a cidade do Rio de Janeiro - Cód IBGE 330455

In [65]:
df2 = df[df.ID_MUNICIP==330455]

In [51]:
#Dados de Estabelecimentos (para pegarmos os bairros)

estab = pd.read_csv(r'E:\Users\quadr\Documents\MBA\Trabalhos\TCC\Dengue Rio\Estabelecimentos\estabelecimentos.csv',engine='python')

In [165]:
df_completa = df2.merge(estab[['CNES','COD_CEP']], how='left', left_on ='ID_UNIDADE', right_on='CNES')

### Para inferir a região e o bairro da cidade, precisaremos identificar através do CEP do estabelecimento da notificação.

In [158]:
# importando a base de endereços

endereco = pd.read_csv(r'E:\Users\quadr\Documents\MBA\Trabalhos\TCC\Dengue Rio\Estabelecimentos\ceps.csv')

C:\Users\quadr\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [161]:
endrj = endereco[endereco.CIDADE == 'Rio de Janeiro/RJ']

In [172]:
df_completa2 = df_completa.merge(endrj[['CEP','CIDADE','BAIRRO','RUA']], how='left', left_on = 'COD_CEP', right_on='CEP')

In [173]:
df_completa2.count()

Unnamed: 0    163157
NU_NOTIFIC    163157
TP_NOT        163157
ID_AGRAVO     163157
DT_NOTIFIC    163157
               ...
COD_CEP       116890
CEP           116890
CIDADE        116890
BAIRRO        116887
RUA           116890
Length: 127, dtype: int64

### Filtrando somente os resultados onde temos endereço correspondente

In [174]:
df_final = df_completa2[df_completa2.CIDADE == 'Rio de Janeiro/RJ']

#### Terminamos com uma base de dados de aprox 116 mil registros

#### Temos agora os registros da cidade do RJ, com classificação de bairro, e podemos comparar com a base de clima nos mesmos bairros

In [182]:
df_final.to_csv(r'E:\Users\quadr\Documents\MBA\Trabalhos\TCC\Dengue Rio\Bases TCC\casosdenguerj.csv')

In [200]:
# Pegando os casos de dengue somente dos bairros onde temos medição de clima

df_final_filtrada = df_final[df_final['BAIRRO'].isin(['Copacabana','Centro','São Cristóvão','Tijuca','Irajá','Bangu','Campo Grande','Pedra da Guaratiba'])]

In [245]:
# Fazendo a contagem de notificações por data e bairro

casosdengue = df_final_filtrada.groupby(['DT_NOTIFIC','BAIRRO']).NU_NOTIFIC.count()

In [252]:
casosdengue = pd.DataFrame(casosdengue)
casosdengue = casosdengue.reset_index()

In [256]:
casosdengue['DATE'] = casosdengue.DT_NOTIFIC.apply(lambda x: datetime.strptime(x, '%Y-%m-%d').date())

### Importando agora os dados climáticos

In [298]:
climarj = pd.read_csv(r'E:\Users\quadr\Documents\MBA\Trabalhos\TCC\Dengue Rio\Bases TCC\BaseMonitorAr.csv')

In [299]:
# Criando coordenadas usando latitude e longitude para uso posterior

climarj['geo'] = list(zip(climarj.Lat, climarj.Lon))

### Aplicando as segmentações de bairro

#### Centro (CA)
#### Copacabana (AV)
#### São Cristóvão (SC)
#### Tijuca (SP)
#### Irajá (IR)
#### Bangu (BG)
#### Campo Grande (CG)
#### Pedra de Guaratiba (PG)

In [300]:
# Ajustando as datas da base de clima que estão em formato string
from datetime import datetime

climarj['DATE'] = climarj.Data.apply(lambda x: datetime.strptime(x[0:10], '%Y/%m/%d').date())

In [301]:
lista = [['AV','Copacabana'],['CA','Centro'],['SC','São Cristóvão'],['SP','Tijuca'],['IR','Irajá'],['BG','Bangu'],['CG','Campo Grande'],['PG','Pedra da Guaratiba']]
bairros = pd.DataFrame(lista, columns=['Estação', 'BAIRRO'])

In [302]:
climarjfinal = climarj.merge(bairros, how='left', on='Estação')

In [303]:
abt = pd.merge(climarjfinal,casosdengue,how='inner',left_on = ['DATE','BAIRRO'],right_on=['DATE','BAIRRO'])

### A ABT terminou com aprox 90mil registros

### Critério Final

### Casos Dengue apenas nas regiões onde temos medição de dados de clima, apenas nos anos onde temos casos registrados (2013 a 2019)

# ==============================================


# Analise Exploratória


# ==============================================

In [304]:
abt.describe()

,OBJECTID,CodNum,Chuva,Pres,RS,Temp,UR,Dir_Vento,Vel_Vento,SO2,...,NO,NOx,O3,PM10,PM2_5,Lat,Lon,X_UTM_Sirgas2000,Y_UTM_Sirgas2000,NU_NOTIFIC
count,83769.000000,83769.000000,83180.000000,82846.000000,76026.000000,77099.000000,77768.000000,72682.000000,72708.000000,76252.000000,...,48883.000000,48815.000000,81252.000000,78941.000000,11414.000000,83769.000000,83769.000000,83769.000000,8.376900e+04,83769.000000
mean,187348.849956,3.867433,0.146902,1013.993441,150.384151,26.327593,69.157204,164.085227,1.121205,3.599229,...,19.448947,48.662964,27.173476,40.410485,18.675738,-22.900811,-43.330262,671257.163624,7.466482e+06,9.065537
std,136939.828090,2.389954,1.285060,4.808310,240.444884,4.811505,17.264353,71.210045,0.873196,5.823442,...,29.670254,40.611921,29.731434,24.625877,14.727837,0.039771,0.140532,14389.741144,4.492806e+03,18.645511
min,8746.000000,1.000000,0.000000,997.950000,0.000000,11.320000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.020000,0.000000,0.000000,0.000000,-22.965004,-43.556522,648064.492100,7.459198e+06,1.000000
25%,61666.000000,2.000000,0.000000,1010.620000,0.000000,22.900000,57.720000,103.830000,0.530000,0.490000,...,2.400000,22.110000,4.890000,23.000000,9.000000,-22.924915,-43.471074,656828.804500,7.463703e+06,1.000000
50%,185083.000000,4.000000,0.000000,1013.820000,4.170000,25.650000,71.300000,166.170000,0.850000,1.890000,...,7.660000,37.630000,17.990000,36.000000,15.000000,-22.887910,-43.326845,671696.623800,7.468075e+06,3.000000
75%,261507.000000,5.000000,0.000000,1017.130000,225.330000,29.070000,82.270000,219.330000,1.450000,4.250000,...,24.530000,61.930000,39.010000,52.000000,25.000000,-22.886255,-43.180482,686537.012800,7.468346e+06,7.000000
max,438639.000000,8.000000,88.000000,1033.750000,1248.330000,49.080000,100.000000,350.500000,8.020000,199.230000,...,429.480000,534.060000,259.350000,454.000000,140.000000,-22.831621,-43.178152,686853.707500,7.474147e+06,356.000000

In [305]:
aux = []
for i in abt.columns:
    if abt[i].isna().sum() >0:
        aux.append(i)
    else:
        pass

### Temos uma quantidade grande de dados nulos em algumas variáveis. Como se tratam de medidas climáticas, vamos assumir a principio como baseline a média como substituição

In [306]:
abt_preenchida = abt
for i in aux:
    abt_preenchida[i] = abt_preenchida[i].fillna(abt_preenchida[i].mean())

In [307]:
abt_preenchida.columns

Index(['OBJECTID', 'Data', 'CodNum', 'Estação', 'Chuva', 'Pres', 'RS', 'Temp',
       'UR', 'Dir_Vento', 'Vel_Vento', 'SO2', 'NO2', 'HCNM', 'HCT', 'CH4',
       'CO', 'NO', 'NOx', 'O3', 'PM10', 'PM2_5', 'Lat', 'Lon',
       'X_UTM_Sirgas2000', 'Y_UTM_Sirgas2000', 'geo', 'DATE', 'BAIRRO',
       'DT_NOTIFIC', 'NU_NOTIFIC'],
      dtype='object')

In [314]:
abt_preenchida.ANO = abt_preenchida.DATE.apply(lambda x: x.year)
abt_preenchida.MES = abt_preenchida.DATE.apply(lambda x: x.month)

C:\Users\quadr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.
C:\Users\quadr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [316]:
abt_preenchida.ANO.unique()

array([2013, 2014, 2015, 2016, 2012], dtype=int64)

In [318]:
casosdengue.DATE

0       2012-12-31
1       2013-01-01
2       2013-01-02
3       2013-01-02
4       2013-01-02
           ...
3604    2016-12-29
3605    2016-12-29
3606    2016-12-30
3607    2016-12-30
3608    2016-12-30
Name: DATE, Length: 3609, dtype: object

In [327]:
df_completa2[['DT_NOTIFIC','COD_CEP']]

        DT_NOTIFIC     COD_CEP
0       2013-03-27  21061600.0
1       2013-04-11  21870170.0
2       2013-06-01  23570000.0
3       2013-03-14  21061600.0
4       2013-03-31  21040361.0
...            ...         ...
163152  2019-04-18         NaN
163153  2019-09-17         NaN
163154  2019-08-27         NaN
163155  2019-08-29         NaN
163156  2019-10-23         NaN

[163157 rows x 2 columns]